<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @DateTime.Now.Year - @Global.Author
        </div>
    </div>
</div>