<div class="container">
    <section class="row">
        <div class="col-xs-6">
            <h4>Acerca de mi</h4>
            <p>Lorem fistrum no te digo trigo por no llamarte Rodrigor sexuarl ahorarr papaar papaar papaar papaar. Diodenoo ese que llega pupita me cago en tus muelas. Va usté muy cargadoo jarl sexuarl tiene musho peligro mamaar por la gloria de mi madre condemor pupita quietooor a wan tiene musho peligro</p>
        </div>
        <div class="col-xs-6">
            <h4>Contacto</h4>
            <a href=""><i class="fa fa-envelope fa-2x fa-border"></i></a>
            <a href=""><i class="fa fa-facebook fa-2x fa-border"></i></a>
            <a href=""><i class="fa fa-twitter fa-2x fa-border"></i></a>
            <div class="clearfix visible-sm-block"></div>
            <a href=""><i class="fa fa-google-plus fa-2x fa-border"></i></a>
            <a href=""><i class="fa fa-github fa-2x fa-border"></i></a>
            <a href=""><i class="fa fa-linkedin fa-2x fa-border"></i></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width: 0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a>
            Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licencia de Creative Commons Reconocimiento 4.0 Internacional</a>.
        </div>
    </section>
</div>